<div class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gray-900">
	<div
		class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-gray-900 sticky z-[9999] top-0 border-b border-gray-800">
		<a href="/user/dashboard">
			<svg class="w-8 h-8 text-green-600 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none"
			viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01" />
		</svg>
		</a>
		<form action="/user/search" method="post">
			<input
				class="flex items-center h-10 px-4 ml-10 text-sm bg-gray-700 rounded-full focus:outline-none focus:ring"
				name="query" type="search" placeholder="Search for anything…" />
			<button type="submit" class="hidden"></button>
		</form>
		<div class="ml-10">
			<a class="mx-2 text-sm font-semibold text-gray-700" href="/user/category">Category</a>
		</div>
		<buton class="flex items-center justify-center w-8 h-8 ml-auto overflow-hidden rounded-full cursor-pointer">
			<img src="https://assets.codepen.io/5041378/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1600304177&width=512"
				alt="" />
		</buton>
	</div>
	<div class="px-10 mt-6">
		<h1 class="text-2xl font-bold">
			<%= search='search' ? 'Product catalogue' :'Search Resuts' %>
		</h1>
		<div class="flex items-center justify-between">
			<div class="flex items-center flex-shrink-0 mt-4 h-10 w-72">
				<span class="block text-sm font-semibold">Total products</span>
				<span
					class="flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-green-700 bg-white rounded bg-opacity-30">
					<%= data.length %>
				</span>
				<a href="/user/create-category"
					class="flex items-center justify-center w-32 duration-500 h-6 ml-auto text-green-500 rounded hover:bg-green-500 hover:text-indigo-100">
					<svg class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
					</svg><span>add category</span>
				</a>
			</div>

			<div class="w-[150px] text-gray-900 dark:text-gray-700">
				<div class="relative w-full group">
					<select class="bg-gray-900 text-white rounded-md px-3 py-2 w-full" onchange="redirectToPage(this)">
						<% categories.forEach((item, index)=> { %>
							<option value="/user/category/<%= item._id %>">
								<%= item.name %>
							</option>
							<% }); %>
					</select>
				</div>
			</div>
		</div>
	</div>
	<!-- books -->
	<div
		class="mb-10 sm:mb-0 mt-10 grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:mx-32 p-10 rounded-md bg-gray-800">
	

     <% if (data.length === 0) { %>
  <div class="text-center text-white text-xl font-bold">
    No results found.
  </div>
<% } else { %>
  <% data.forEach((item, index) => { %>
    <div
      class="relative group bg-gray-900 py-10 sm:py-20 px-4 flex flex-col space-y-2 items-center cursor-pointer rounded-md hover:bg-gray-900/80 hover:smooth-hover">
      <img class="w-20 h-20 object-cover object-center rounded-full" src="/<%= item.image %>" alt="product image" />
      <h4 class="text-white text-2xl font-bold capitalize text-center">
        <%= item.name %>
      </h4>
      <p class="text-white/50">$<%= item.price %></p>
      <p class="absolute top-2 text-white/20 inline-flex items-center text-xs">
        <% if (item.stock > 0) { %> 
          in stock
          <span class="ml-2 w-2 h-2 block bg-green-500 rounded-full group-hover:animate-pulse"></span>
        <% } else { %> 
          out of stock
          <span class="ml-2 w-2 h-2 block bg-red-500 rounded-full group-hover:animate-pulse"></span>
        <% } %>
      </p>
    </div>
  <% }); %>
<% } %>

	</div>
</div>
<script>
	function redirectToPage(selectElement) {
		const selectedValue = selectElement.value;
		console.log(selectedValue)
		if (selectedValue) {
			window.location.href = selectedValue; // Redirect to the selected URL
		}
	}
</script>
<!-- Component End -->